nav {
	padding: 15px;
}
.navbar-brand {
	font-size: 28px;
}
.jumbotron {
	background-color: lightgray;
	border-bottom-color: #2c2c2d;
	border-top-style: solid;
	border-top-color: #2c2c2d;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.profpic {
	margin-right: 15px;
}
#borders {
	border: none;
	margin-top: 0;
}
.pic {
	width: 100%;
	padding: 7px;
}
.col-md-6, .col-md-4 {
	border-style: solid;
	border-color: #e0e0d1;
	border-width: 2px;
}
.col-md-4 {
	text-align: center;
	height: 300px;
	width: 250px;
}

footer.footer {
	position: absolute;
 	padding: 15px;
 	background-color: #666666;
 	color: white;
 	text-align: center;
 	border-top-width: 1px;
 	border-top-color: black;
 	border-top-style: solid;
 	margin-top: 60px;
 	width: 100%;
 
}
h2, h3 {
	font-weight: bolder;
	color: black;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	border-bottom-style: solid;
}
p {
	color: black;
}
li {
	margin-right: 75px;

}
.navbar-brand:hover {
	background-color: #669999;
}
li:hover {
	background-color: gray;
	transition: 1s;
}
.form-control {
	margin-bottom: 15px;
}
.btn.btn-default {
	margin-bottom: 15px;
}
h6 {
	position: absolute;
	margin-top: -55px;
	margin-left: 7px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	background-color: gray;
	color: white;
	width: 231px;
}
